<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book store application</title>
     <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <header>

    </header>
   <main role="main">
        @RenderBody()
   </main>
</body>
</html>
