
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">

    <img src="~/images/JB.jpg" alt="logo"/>

    <input type="button" value="Click me" class="btn btn-danger"/>
    <h1 class="h1">Welcome to book store application.</h1>
   <p>This is a home page of our application.</p>
</body>

<script src="~/lib/jquery/dist/jquery.js"></script>
</html>
<script>
    $(document).ready(function(){
        alert("page loaded");
    });
</script>
